@{
    ViewData["Title"]="Trang Test";

}
<h1>@ViewBag.Message</h1>
<p>Ban co the truy cap cac duong dan sau:</p>
<ul>
    <li><a href="/Test/HelloWorld">/Test/HelloWorld</a></li>
    <li><a href="/Test/Welcome?name=Teo">/Test/Welcome?name=Teo</a></li>
</ul>